header {
  background-image: url("@img/fundos/fundo-header.png");
  background-color: $red;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  
  .containerHeader {
    font-family: $fontGreatVibes;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 93vw;
    margin: 0 auto;
  }
}

.felizNatal {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    width: 90px;
  }

  h1 {
    font-size: 4.8rem;
  }
}

button {
  background-color: green;
  border-radius: 8px;
  border: none;
  font-size: 1.8em;
  padding: 0.8rem 1rem;
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;

  svg {
    font-size: 90%;
  }
}

nav {
  

  ul {
    display: flex;
    gap: 6rem; 
    list-style: none;
  
    li {
      font-size: 3.5rem;
      cursor: pointer;
    }
  }
}

@media (max-width: $mobile) {
  header {
    padding: 10px 0;
  }
  
  .containerHeader {
    width: 97vw;
    flex-direction: column;
    font-size: 1.5em;
  }

  button {
    font-size: 1.2em;

    svg {
      font-size: 90%
    }
  }

  .felizNatal h1 {
    font-size: 3.9rem;
  }

  nav {
    display: none;
  }
}
