footer {
  text-align: center;
  padding: 10px;
  background-color: #282828;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.favicon-rodape {
  animation: swing 2s ease-in-out infinite;
}

footer > p > span {
  margin-top: 9px;
}

@media (max-width: 768px) {
  footer {
    position: initial;
  }
}

@keyframes swing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
