.filme {
  position: relative;
  display: inline;
  cursor: pointer;
}

.filme__container_progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9px;
  background-color: $white;

  .filme__progress {
    height: 100%;
    background-color: $red;
  }
}